@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    background-image: url(https://diariodonordeste.verdesmares.com.br/image/contentid/policy:1.2964273:1594310057/taca-br.jpeg?f=16x9&$p$f=4333b91);
    background-repeat: repeat;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
#btn-menu{
    display: none;
}
header{
    background-color: blue;
    font-weight: 700;
}
header label{
    color: #fff;
    font-size: 20px;
    display: block;
    padding: 5px 10px;
    width: 20px;
    border-right: 1px solid #fff;
    display: none;
}
header label:hover{
    background-color: yellow;
}
.menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    transition: all .5s;
}
.menu li a{
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    display: block;
    border-right: 1px solid #fff;
}
.menu li a:hover{
    background-color: yellow;
    color:blue;
}
.menu li img{
padding-right: 20px;
padding-left: 150px;
padding-right: 20px;
}
.noticiario{
    align-items: center;
}
.noticias h1{
    color: white;
    background-color:blue;
    margin: 2;
    padding-left: 15px;
    font-size: 50px;
    text-align: center;
}
.class{
    text-align: center;
    color: white;
    font-weight: 900;
}
.btn-palpite a{
    text-decoration: none;
    margin-left: 500px;
    margin-top: 500px;
    size: 1em;
    font-size: 45px;
    padding: 8px 8px;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}
.btn-primary{
    background-color:blue;
    text-decoration: none;
}
.inscritos{
    color: white;
    text-align: center;
    font-size: 50px;
}
@media (max-width: 768px){
    header label{
        display: block;
    }
    .menu ul{
        position: absolute;
        background-color: blue;
        width: 100%;
        flex-direction: column;
        margin-left: -100%; 
    }
    .menu li a{
        border-top: 1px solid #fff;
    }
    #btn-menu:checked ~ .menu ul{
        margin-left: 0;
    }
}